/* ROOT CONFIG */
:root {
    font-family: 'Darker Grotesque', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

/* CABEÇALHO STICKY */
header {
    position: sticky;
    top: 0;
}

/* A CONFIG */
a {
    text-decoration: none;
    font-weight: 700;
}

a:visited {
    color: #333;
  }

a::after {
    display: block;
    content: "";
    width: 0px;
    height: 5px;
    background-color: #333;
}

.left-right:hover::after {
    width: 100%;
    transition: width 1s ease;
    float: left;
}

.right-left:hover::after {
    width: 100%;
    transition: width 1s ease;
    float: right;
}

h1::after {
    display: block;
    content: "";
    width: 0px;
    height: 5px;
    background-color: #fff;
}

.left-and-right:hover::after {
    width: 100%;
    transition: width 1s ease;
}


/* BUTTON CONFIG */
[type="button"] {
    background-color: #DEB959;
    color: #333333;
}

/* H1 CONFIG */
h1 {
    font-size: 96px;
    font-weight: 700;
}

/* H2 CONFIG */
h2 {
    font-size: 48px;
    font-weight: 700;
}

/* CABEÇALHO CONFIG */
header section {
    background-color: #85CDF5;
    color: #333333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 130px;
}

/* H2 NA MAIN */
main section h2:first-child{
    color: #DEB959;
}

/* ADOTE UM LOBINHO SECTION */
main section:first-child {
    background-image: url("assets/image.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SOBRE SECTION */
main section:nth-child(2) {
    background-color: #2C5680;
    height: 333px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* VALORES SECTION */
main section:nth-child(3){
    background-color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section:nth-child(4){
    background-color: #353535;
    height: 625px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* IMAGENS DOS VALORES */
main section div img{
    background-color: #fff;
    border-radius: 50%;
}

/* RODAPÉ  CONFIG */
footer section {
    background-color: #353535;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: start;
}

footer section div.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}